/* Start variables */
:root{
  --purple-color: #7952B3;
  --yellow-color: #FFBB38;
  --red-color: #F01F4B;
  --text-color: #777;
  --section-padding: 100px;
}
/* End variables */

/* Start Global Rules  */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
  }

  p::selection{
    background-color: var(--red-color);
    color: white;
  }
  
  ul{
    list-style-type: none;
  }

  /* Start home page landing */
  .landing{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .landing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 232, 232, 0.8);
  }

  .landing .content{
    position: relative;
  }

  .landing h1{
    font-weight: bold;
  }

  .landing p{
    margin: 30px 20% auto;
    color: var(--text-color);
  }

  .landing h1 span{
    position: relative;
    margin: 5px;
  }

  .landing h1 span::before{
    content: "";
    position: absolute;
    height: 8px;
    width: 300px;
    background-color: var(--yellow-color);
    bottom: -10px;
    left: -50px;
    -moz-transform: skew(30deg, 355deg);
    -webkit-transform: skew(30deg, 355deg);
    transform: skew(30deg, 355deg);
    border-radius: 0% 100% 51% 49% / 100% 100% 0% 0% ;
  }
  /* End home page landing */

  /* Start home page services */
  .services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: left;
  }

  .services h2{
    text-transform: capitalize;
    font-weight: bold;
  }

  .services p{
    line-height: 2;
  }

  .services p span{
    display: block;
    width: fit-content;
    font-size: 18px;
    margin: 20px 0px
  }

  .services p span i{
    border-bottom: 3px solid var(--yellow-color);
    padding: 0px 10px;
    font-weight: bold;

  }

  .services .services-boxes{
    margin-top: calc(var(--section-padding) / 4);
    text-align: center;
  } 

  .services .box{
    height: 200px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px  rgba(94,90,90,0.49);
    -webkit-box-shadow: 1px 1px 10px 3px rgba(94,90,90,0.49); 
    box-shadow: 1px 1px 10px 3px rgba(94,90,90,0.49);
  }

  .services .box:hover{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }

  .services .box img{
    height: 100px;
    margin-bottom: 10px;
  }
  /* End home page services */

  /* Start home page call to action */
  .call-to-action{
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    text-align: center;
  }

  .call-to-action{
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: var(--text-color);
    border-radius: 5px;
  }

  .call-to-action::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 232, 232, 0.8);
  }

  .call-to-action > div{
    position: relative;
    color: black;
  }

  .call-to-action h3{
    font-weight: bold;
    text-transform: capitalize;
  }

  .call-to-action .actions{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 767px) {
    .call-to-action .actions{
      flex-direction: column;
    }
    .call-to-action .actions a{
      margin-bottom: 20px;
    }
  }

  .call-to-action .actions a{
    text-transform: capitalize;
    margin: 0 10px auto;
  }

  .call-to-action .actions a:hover{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }

  .call-to-action .actions a i{
    color: var(--yellow-color);
  }

  .call-to-action .actions a:first-of-type{
    border: 1px solid var(--purple-color);
  }

  .call-to-action .actions a:last-of-type{
    border: 1px solid var(--red-color);
  }
  /* End home page call to action */

  /* Start home page my work */
  .my-works{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: left;
  }

  .my-works h3{
    text-transform: capitalize;
    margin-bottom: var(--section-padding);
    padding-bottom: 20px;
    text-align: center;
    position: relative;
  }

  .my-works h3::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #333;
    bottom: 0px;
    width: 400px;
  }

  .my-works h3::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #333;
    bottom: -6px;
    background-color: var(--yellow-color);
  }

  .my-works h3 i{
    color: var(--red-color);
  }

  .my-works .work-boxes .box img{
    height: 200px;
    width: 400px;
    margin-bottom: 20px;
  }

  .my-works .work-boxes a{
    text-decoration: none;
    color: black;
  }

  .my-works .work-boxes .box:hover{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }

  .my-works .work-boxes .box h4{
    margin-bottom: 10px;
    font-size: 16px;
  }
  /* End home page my work */

  /* Start home page Contact me  */
  .contact-me{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }

  .contact-me h3{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
  }

  .contact-me h3::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #333;
    bottom: 0px;
    width: 400px;
  }

  .contact-me h3::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #333;
    bottom: -6px;
    background-color: var(--yellow-color);
  }

  .contact-me .contact-form{
    margin-top: var(--section-padding)
  }

  .contact-me .contact-form input, 
  .contact-me .contact-form textarea,
  .contact-me .contact-form select{
    margin: 15px 0px;
  }
  /* End home page contact me */

  /* Start footer */
  .footer{
    padding-top: calc(var(--section-padding) / 2);
    position: relative;
    text-align: center;
  }
  
  .footer img{
    margin-bottom: 20px;
    height: 100px;
  }

  .footer p:not(.copyright){
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
  }

  .footer .social-icons i{
    padding: 10px 15px;
  }

  .footer .copyright{
    margin-top: 60px;
  }

  .footer .copyright span{
    font-weight: bold;
    color: var(--main-color);
  }
  /* End footer */

  /* Start general style */
  .btn-main{
    background-color: var(--purple-color);
    color: white;
    text-transform: capitalize;
  }

  .btn-main i{
    color: var(--yellow-color);
  }

  .navbar-brand{
    color: black;
    font-weight: bold;
  }

  .navbar-brand img{
    margin-right: 5px;
  }

 

  /* End general style */